// Define variables for your color scheme

// For example:
$light-gray: #E8E1D9;
$verde-oscuro: #125C13;
$verde: #3E7C17;
$amarillo: #FFE61B ;

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

