.form {
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 50px;
  margin: 40px auto;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}


.form-actions {
  padding: 5px 20px;
  background-color: blue;
  text-align: center;
  color: white;
  border-radius: 10px;
}
