<div class="container py-5 dashboard-container">
  <div class="row tabs">
    <ul class="list-inline tabs-underlined">
      <li>
      <a href="#" class="tab-underlined active">Bookings</a>
        <div class="col-12 col-sm-6 col-md-6">
          <% @sent_bookings.each do |cow| %>
          <h2><%= cow.name %></h2>
          <% end %>
        </div>
      </li>
      <li>
        <a href="#" class="tab-underlined">Requests</a>
      </li>
    </ul>
  </div>
</div>
