<div class="navbar-container">
  <ul class="navbar-items">
    <li><strong>Home</strong></li>
    <li><strong>Sign in</strong></li>
    <li><strong>Create account</strong></li>
    <%= link_to "Upload your Cow!", new_cow_path %>
    <li><img src="https://kitt.lewagon.com/placeholder/users/ssaunier" /></li>

  </ul>
</div>
