<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1502590464431-3b66d77494d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);">
  <div class="container">
    <h1><strong>Rent Your Cow!</strong></h1>
    <p><strong>Change your life and rent a cow!</strong></p>
    <%= link_to "Choose Your Cow!", cows_path, class: "btn btn-success text-white" %>
  </div>
</div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis magnam facilis laboriosam voluptatem. Nisi facilis corrupti magnam fugit voluptates inventore praesentium, voluptatem quisquam odit laborum dolor totam reiciendis ipsum nam!</p>
