<div class="banner">
  <h1>Rent Your Cow</h1>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis magnam facilis laboriosam voluptatem. Nisi facilis corrupti magnam fugit voluptates inventore praesentium, voluptatem quisquam odit laborum dolor totam reiciendis ipsum nam!</p>
<%# <%= link_to "See our cows", cows_path %>
