.banner {
  background-image: url('https://images.unsplash.com/photo-1502590464431-3b66d77494d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-position: bottom;
  background-repeat: no-repeat;
  height: 500px;

  h1 {
    font-family: 'Shizuru', cursive;
    color: rgb(243, 235, 8);
    text-align: right;
    padding-top: 145px;
    margin-right:  223px;
    text-shadow: 3px 3px 1px rgba(226, 42, 17, 0.994);
  }
}
