.banner {
  background-size: cover;
  background-position: bottom;
  height: calc(100vh - 75px);
  padding: 150px 0;


  h1 {
    font-family: 'Shizuru', cursive;
    font-weight: bold;
    font-size: 70px;
    color: rgb(243, 235, 8);
    text-align: right;
    padding-top: 1px;
    margin-right: 129px;
    text-shadow: 3px 3px 1px rgba(226, 42, 17, 0.994);
  }

  p {
    font-family: 'Source Code Pro';
    text-align: right;
    font-size: 30px;
    color: white;
    width: 93%;
    margin-top: -1px;
    margin-bottom: 123px;
    opacity: .7;
    text-shadow: 1px 3px 2px rgba(0,0,0,0.2);
  }
}
