 .show-main-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

 }

 .card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin:auto;
    margin-bottom: 50px;
    width: 40vw;
    border-radius: 5px;
    box-shadow: 1px 2px 10px $verde;
    margin: auto;
    margin-top: 80px;

    .btn-ghost {
      background-color: lightgrey;
      color: $verde-oscuro;
      font-weight: bold;
    }
    .btn-ghost:hover {
      padding: 9px 25px;
      font-size: large;
      font-weight: bolder;

    }

 }

   .card-trip > img {
     height: 400px;
     width: 100%;
     object-fit: cover;

   }

   .card-trip h2 {
     font-size: 16px;
     font-weight: bold;
     margin: 0;
   }

   .card-trip p{
     color: white;
     padding: 3px;
   }


   .card-trip .card-trip-infos {
     color: beige;
     padding: 16px;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     position: relative;
     background-color: $verde;
   }

   .card-trip-infos .card-trip-user {
     position: absolute;
     right: 16px;
     top: -20px;
    width: 40px;
   }
