.my-cards-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}

.card-items {

    .image-card {
      width: 30%;
      height: 90%;
      border-radius: 5px;
      background-size: cover;
      object-fit: cover;
    }

    .card-text {
      width: 80%;
      margin-left: 20px;
    }
  }

  .image-card {
    img {
      border-radius: 5px;
    }
  }

.my-card {
  display: flex;
  width: 60%;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #919090;

  img {
    // width: 100%;
    // border-radius: 5px 5px 0 0;
    // background-size: cover;
    // object-fit: cover;
  }

  h5 {
    margin-top: 10px;
    padding-left: 20px;
  }

  p {
    padding-left: 20px;
  }
}

.my-card:hover {
  opacity: .8;
}




// .card-trip {
//     overflow: hidden;
//     background: white;
//     box-shadow: 0 0 15px rgba(0,0,0,0.2);
//     margin:auto;
//     margin-bottom: 50px;
//     margin-top: 20px;
//     width: 30vw;
//   }

  // .card-trip > img {
  //   height: 400px;
  //   width: 100%;
  //   object-fit: cover;
  // }

  // .card-trip h2 {
  //   font-size: 16px;
  //   font-weight: bold;
  //   margin: 0;
  // }

  // .card-trip p {
  //   font-size: 12px;
  //   opacity: .7;
  //   margin: 0;
  // }


  // .card-trip .card-trip-infos {
  //   color: beige;
  //   padding: 16px;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   position: relative;
  //   background-color: #206923;
  // }

  // .card-trip-infos .card-trip-user {
  //   position: absolute;
  //   right: 16px;
  //   top: -20px;
  //   width: 40px;
  // }
