.my-cards-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}

.card-items {

    .image-card {
      width: 100%;
      border-radius: 5px;
      background-size: cover;
      object-fit: cover;
    }

    .card-text {
      flex-grow: 1;
      margin-left: 20px;
    }
  }

  .card-image-container {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .card-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
      max-height: 200px;
      object-fit: cover;
  }

.my-card {
  display: flex;
  width: 100%;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px #919090;

  h5 {
    margin-top: 10px;
    padding-left: 20px;
  }

  p {
    padding-left: 20px;
    margin-right: 20px;
  }
}



.my-card:hover {
  opacity: .9;
  box-shadow: 6px 6px 4px #919090;
  transform: translateX(-10px);

}
