.footer {
    min-height: calc(100vh-90px);
    background-color: rgb(32, 32, 32);
    background-repeat:repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 0px 50px;
    color: white;
      
  }
  .footer-links {
    display: flex;
    align-items: center;
  }
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    color: $amarillo;
  }

  .footer-links{
    color: $amarillo;
  }
  .footer .fa-heart {
    color: #D23333;
  }