.forms-container {
  width: 27%;
  padding: 20px 15px;
  margin: 80px auto;
  box-shadow: 2px 2px 6px #919090;
  border-radius: 10px;

  // .btn-text {
  //   color: white;
  // }

  a {
    font-weight: 600;
    margin: 15px 0;
  }
}
