.btn-ghost {
    color: white;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 10px;
    font-weight: lighter;
    color: white;
    border: 1px solid $verde-oscuro;
  }

  .btn-ghost:hover {
    background-color: $verde-oscuro;
    color: white;
  }
