// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

@import "card";

@import "banner";
@import "card";
@import "gost-button";

@import "btn-home";
@import "signin-btn";

@import "dashboard";
@import "footer";
@import "card-show";

@import "map";




h1 {
  font-size: 70px;
}

h3, h5 {
  font-family: 'Source Code Pro';
  font-weight: bolder;
}

a {
  font-family: 'Source Code Pro';
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 17px;
  color: #1a1919;
  padding: 0 20px;
}
