// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

// @import "card";

@import "banner";
@import "card-index";
@import "gost-button";

@import "btn-home";
@import "signin-btn";

@import "dashboard";
@import "map";
@import "footer";
@import "card-show";

body{
  background-color: $light-gray;
}

h1 {
  font-size: 70px;
}

h3, h5 {
  font-family: 'Source Code Pro';
  font-weight: bolder;
  color: black;
}

p {
  font-family: 'Source Code Pro';
  font-weight: 400;
  color: black;
}

a {
  font-family: 'Source Code Pro';
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 17px;
  color: #1a1919;
  padding: 0 20px;
}
