#natvar-btn {
  color: $verde;
  padding: 8px 24px;
  margin-right: 25px;
  border-radius: 10px;
  border: 1px solid $verde-oscuro;
  font-weight: normal;
  color: $verde-oscuro;

}

#natvar-btn:hover {

  font-weight: bold;
  color: white;
}