.natvar-btn {
    color: $verde-oscuro;
    border: 1px solid $verde-oscuro;
    padding: 8px 24px;
    border-radius: 15px;
    border: 1px solid $verde-oscuro;
    font-weight: normal;

  }

  .natvar-btn:hover {
    font-weight: bold;
    color: white;
  }