.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding-left: 30px
  

}

.navbar-container {
  box-shadow: 1px 1px 10px #c3c3c3;;
}
.navbar-container
.navbar-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  text-decoration: none;
  margin-bottom: 5px;
  height: 70px;
  

  p {
    font-family: 'Source Code Pro';
    font-size: 17px;
    color: #3d3b3b;;
  }

  a {
    font-family: 'Source Code Pro';
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: -1px;
    font-size: 17px;
    color: #1a1919;
    padding: 0 3px;
    margin: 0 3px;
  }
}

.my-dropdown {
  background-color: #fcfafa;
  border-radius: 8px;
}
