<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Get to know our wonderful magnificents cows!</h1>
 </div>
 <br>
</div>
  <div class="container py-5 cards">
    <div class="row">
     <% @cows.each do |cow| %>
      <div class="col-12 col-sm-6 col-md-6 card-category justify-content-space-between" >
        <%= cl_image_tag cow.photo.key, height: 200, width: 300, crop: :fill %>
         <br/>
      <div class="card-category cows">
        <h3><%= cow.name %></h3>
        <%= link_to "See details", cow_path(cow), class: "buttom" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

 <div> <%= link_to 'Home page', root_path %></div>
