<div class="cover mb-4 mt-5 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h3>Get to know our wonderful magnificents cows!</h3>
 </div>
 <br>
</div>
  <div class="container py-5 cards">
    <div class="row">
      <div class="col-7">
        <div class="card-items">
          <% @cows.each do |cow| %>
              <%= link_to cow_path(cow) do %>
                <div class="card-category my-card">
                  <div class="card-image-container">
                    <%= cl_image_tag cow.photo.key, class: "card-image", crop: :fill %>
                  </div>
                  <br/>
                  <div class="card-category cows card-text">
                    <h5><strong><%= cow.name %></strong></h5>
                    <p><%= cow.description %></p>
                  </div>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
        <div class="col-5 map-container">
        <h1>Aquí irá un mapa!!!</h1>
        </div>
    </div>
  </div>
</div>
