<div class="container">
  <div class="card-trip">
    <%= cl_image_tag @cow.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-trip-infos">
      <div>
          <h2><%= @cow.name %></h2>
          <p><%= @cow.description %></p>
      </div>
      <div>
        <a class="btn btn-ghost" href="#"><%= link_to "new_cow", "#", class: "btn btn-ghost" %>Book this COW!</a>
      </div>
      <img src="" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i>
  </div>
</div>
