<div class="container">
  <div class="card-trip">

  <% if @cow.photo.attached? %>
    <%= cl_image_tag @cow.photo.key %>
    <div class="card-trip-infos">
      <div>
          <h2><%= @cow.name %></h2>
          <p><%= @cow.description %></p>
      </div>
      <div>
    <%else%>
      <h1>No picture</h1>
    <% end %>

    <%= link_to "Book this COW!", new_cow_booking_path(@cow), class: "btn btn-ghost" %>

      </div>
      <img src="" class="card-trip-user avatar-bordered" />
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-heart"></i>
  </div>
</div>
